.post-outer-container, .FeaturedPost {border-radius: 5px;}

.bg-photo-overlay {background: none; background-color: white;}

#Header1 > p{
  background-color: #7c7b7bb8;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  opacity: 1 !important;
}

.header-widget {
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.BlogArchive {
  width: 90% !important;
  padding-top: 1rem !important;
  align-self: start !important;
  margin-right: 0px !important;
}
